<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
</head>
<body>
  <nav style="width: 100%; background-color: #111; font-weight: bold; display: flex; justify-content:space-around; align-items: center;">
    <ul style="padding: 10px; ">
      <a href="/preposition" style="padding: 10px;">preposition</a>
      <a href="/wordbook" style="padding: 10px;">wordBook</a>
    </ul>
    <span style="border-radius: .5rem; padding: 2px; cursor: pointer; font-size: 11pt; background-color: white;" onclick="darkMode()"><img width="18px" src="<%=host%>/eye.png" alt=""></span>
  </nav>
</body>
</html>